@page "/createitem"

@using DogApp.Web.Dto.ItemDtos
@using DogApp.Web.Services.Interfaces
@inject IItemService ItemService
@inject NavigationManager NavigationManager

<h3>Create Item</h3>

<div>
    <label for="name">Name:</label>
    <input id="name" @bind="itemName" />
</div>
<div>
    <label for="description">Description:</label>
    <input id="description" @bind="itemDescription" />
</div>
<div>
    <label for="category">Category:</label>
    <input id="category" @bind="itemCategory" />
</div>
<div>
    <button @onclick="CreateItem">Create</button>
</div>

@code {
    public ItemDtoUserCreate newItem = new ItemDtoUserCreate("", "", "", true, "");

    private string? itemName;
    private string? itemDescription;
    private string? itemImage;
    private bool itemIsSign;


    private string? itemCategory;

    private async Task CreateItem()
    {
       
        await ItemService.CreateItemAsync(newItem);

        // Navigate back to the items page after creating the item
        NavigationManager.NavigateTo("/items");
    }
}
